<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/main/Subject/main']">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a [routerLink]="['/main/Subject/main/subject']">
                Subjects
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">All Assessments</li>
    </ol>
</nav>
<div *ngFor="let module of assess">
    <h3 class="module-title">Module: {{ module.module_title }}</h3>
    <div *ngFor="let lesson of module.lessons" class="lesson-container">
        <h4 class="lesson-title">Lesson: {{ lesson.lesson_title }}</h4>
        <div *ngFor="let assessment of lesson.assessments" class="assessment-container">
            <label class="assessment-label">Assessment:</label>
            <a 
                class="assessment-link" 
                (click)="navigateToQuestions(assessment.assessment_id, lesson.lesson_title)" 
                routerLinkActive="active"
            >
                {{ assessment.title }}
            </a>
            <i (click)="editAssessment(assessment.assessment_id)" style="cursor: pointer;" class="fa fa-pencil fa-lg" aria-hidden="true"></i>
            <span class="separator">|</span>
            <i style="cursor: pointer;" (click)="navigateToProgress(assessment.assessment_id, lesson.lesson_title, assessment.title)"  class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>
            <p class="due-date">Due Date: {{ assessment.formatted_due_date }}</p>
        </div>
    </div>
</div>

<!-- Edit Assessment Modal -->
<div class="modal2" [ngClass]="{'show2': isEditModalOpen}" (click)="closeEditModal()">
    <div class="modal-content2" (click)="$event.stopPropagation()">
        <span class="close2" (click)="closeEditModal()">&times;</span>
        <h2>Edit Assessment</h2>
        <form [formGroup]="editAssessmentForm" (ngSubmit)="saveEditedAssessment()">
            <div class="input-group">
                <label class="label">Title</label>
                <input formControlName="title" autocomplete="off" name="title" id="edit-title" class="input" type="text">
            </div>
            <div class="input-group">
                <label class="label">Instruction</label>
                <textarea formControlName="instruction" autocomplete="off" name="instruction" id="edit-instruction" class="textarea"></textarea>
            </div>
            <div class="input-group">
                <label class="label">Description</label>
                <textarea formControlName="description" autocomplete="off" name="description" id="edit-description" class="textarea"></textarea>
            </div>
            <div class="input-group">
                <label class="label">Due Date</label>
                <input formControlName="due_date" autocomplete="off" name="dueDate" id="edit-dueDate" class="input" type="date">
            </div>
            <div class="button-group">
                <button class="submit-btn" [disabled]="isSubmitting">Update</button>
            </div>
        </form>
    </div>
</div>






