<div class="form-container">
    <h2>Add Lesson</h2>
    <form [formGroup]="createLesson" (ngSubmit)="save()" enctype="multipart/form-data">
        <div class="input-group">
            <label class="label" for="topicTitle">Topic Title</label>
            <input formControlName="topic_title" autocomplete="off" name="topicTitle" id="topicTitle" class="input" type="text" required>
        </div>
        <div class="input-group2">
            <label class="label2" for="lesson">Lesson</label>
            <editor
                apiKey="1wgw3bs1rmt6dd6ewh1l74jf5flshftxbyz2p3mlqosec3o7"
                [init]="{
                height: 300,
                menubar: false,
                plugins: 'link lists image table code help wordcount',
                toolbar:
                    'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | code'
                }"
                (onInit)="onEditorInit($event)"
            ></editor>
        </div>
        <div class="input-group">
            <label class="label" for="file">File</label>
            <input type="file" name="file" id="file" class="input" (change)="onFileSelected($event)">
        </div>
        <div class="button-group2">
            <button class="submit-btn" type="submit" [disabled]="isSubmitting">Save</button>
            <button class="submit-btn ms-3" style="background-color: gray;" [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', storedModuleID, 'mat']">Cancel</button>
        </div>
    </form>
</div>